<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Database" value="produccion" />
        <add key="Host" value="192.168.20.110" />
        <add key="Protocol" value="onsoctcp" />
        <add key="Password" value="eliot" />
        <add key="Server" value="ol_eliot_tcp_88" />
        <add key="Service" value="1533" />
        <add key="UserID" value="eliot" />
        <!--<add key="UrlImagenes" value="" />-->
	</appSettings>
</configuration>